h1{ 
    color: rgb(159, 141, 6);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 470px;
    
    
    
}
.s{
    font-family: 'Brush Script MT', cursive;
    font-size: 30px;
    margin-left: 40px;
}
a{
    padding-top: 71px;
}